NEXT_PUBLIC_API_BASE_URL=http://localhost:8080

# Spring IdP configuration
NEXT_PUBLIC_AUTHORIZATION_API_BASE_URL=http://localhost:8901

# Keycloak IdP configuration
#NEXT_PUBLIC_IDP=keycloak
#NEXT_PUBLIC_KEYCLOAK_URL=http://localhost:8443
#NEXT_PUBLIC_KEYCLOAK_REALM=default
#NEXT_PUBLIC_KEYCLOAK_CLIENT_ID=web-storefront-client
